.memory_grid {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.difficulty_1 {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
}

.difficulty_2 {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.difficulty_3 {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
}
