.ChoiceFromGiphyImages {
    padding: 5px;
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 10000px;
}

.ChoiceFromGiphyImages button {
    background-color: #009e8e;
    margin: 0;
}

.ChoiceFromGiphyImages ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin-top: 15px;
}

.ChoiceFromGiphyImages li {
    display: inline-block;
    margin: 0 5px 10px;
}

.ChoiceFromGiphyImages img {
    box-shadow: #000 1px 1px 10px -3px;
    transition: 0.3s;
}

.radioGroup {
    display: inline-block;
    color: #ffe;
}