.ChoiceFromGiphyImages {
    padding: 5px;
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 10000px;
}

.ChoiceFromGiphyImages button {
    background-color: #009e8e;
}

.ChoiceFromGiphyImages ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin-top: 15px;
}

.ChoiceFromGiphyImages li {
    display: inline-block;
    padding: 5px;
    border: #009e8e 2px solid;
    border-radius: 10px;
}

.ChoiceFromGiphyImages li {
    margin: 0 5px 10px;
}

.ChoiceFromGiphyImages label {
    display: block;
}

.radioGroup {
    display: inline-block;
    color: #ffe;
}

button{
    margin: 0;
}