.App-modal-notice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 100%;
    color: red;
}

body{
    position: relative;
}

img {
    background-size: cover;
    width: 75px;
    height: 75px;
}

label, p {
    color: whitesmoke;
}

.App-center-in-page p{
    margin-top: 2em;
    margin-bottom: 0;
}

h1{
    color: wheat;
}

.App-header {
    background-color: #282c34;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-center-in-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 90vw;
    max-width: 10000px;
    height: 100%;
    padding-top: 10px;
}
