.App-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 100%;
    border: red solid 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    background-size: cover;
    width: 100px;
    height: 100px;
}

label {
    color: whitesmoke;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.App-center-in-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

